 
<div class="" id="page-wrapper">
  <div class="container-fluid">
    <div class="row row-stat">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading panel-heading-no-divider">Table Striped<span class="panel-subtitle">Table with alternative shades for order and even rows </span></div>
          <!--  <app-load-spinner></app-load-spinner> -->
           <div *ngIf="showDiagram">
            <h3>The Image is </h3>
              <button class="btn btn-danger pull-right" (click)="onClose()">Close</button>
            <img [src]="imageUrl" class="image-responsive" />
          
          </div>
          <div class="pull-left">
            <button class="btn btn-primary" (click)="fetchNewUsers()">Update List</button>
          </div>

            <div class="form-group pull-right">
               <label for="search">Search to Filter:</label>&nbsp;
               <input type="text"placeholder="Enter String to Search..." 
                class="form-control" [value]="search" (input)="search=$event.target.value">
             </div>

              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Customer Id</th>
                      <th>Customer Name</th>
                      <th>Loan Status</th>
                      <th>Loan Type</th>
                      <th>Loan Amount</th>
                      <th>Action</th>
                      <th>FLow Diagram</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of users | searchFilter:search; let i = index" >
                      <td>{{user[0].customerId}}</td>
                      <td>{{user[0].firstname}} {{user[0].lastname}}</td>
                      <td>{{user[0].status}}</td>
                      <td>{{user[0].processInstanceId}}</td>

                      <td>
                       {{user[0].loanamount}}
                      </td>

                       <td><button class="btn btn-success" [routerLink]="[i]"
                        >View</button></td>
                        <td><button class="btn btn-primary" (click)="onShowDiagram(user[0].processInstanceId)">Diagram</button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>